<div class="gallery__container">
  <div class="gallery__search">

    <form [formGroup]="searchForm" class="input__field">
      <input formControlName="text" (ngModelChange)="onChange($event)" placeholder="Search a product" [ngClass]="searchInputClasses"
        type="text">
      <mat-icon *ngIf="!hasError(); else iconerror" color="primary">search</mat-icon>
      <ng-template #iconerror>
        <mat-icon color="warn">search</mat-icon>
      </ng-template>
      <span class="input__error" *ngIf="hasError()">No results</span>
    </form>

  </div>
  <div *ngIf="(products | async).length>0 && searchForm.controls['text'].value.length>0 && !isLoading ; else category_gallery"
    class="gallery">

    <gallery-item *ngFor="let product of products | async" [isOutOfStock]="!(product.quantity>0)" [isProduct]="true" [productData]="product"
      categoryImage="../../../../assets/teddy.jpg"></gallery-item>

  </div>

  <ng-template #category_gallery>
    <div *ngIf="!isLoading; else loading" class="gallery">
      <gallery-item (categorySelect)="onItemClick($event)" *ngFor="let category of categories" [isProduct]="false" [categoryColor]="category.color"
        [categoryName]="category.name" [categoryImage]="category.image"></gallery-item>
    </div>
  </ng-template>
  <ng-template #loading>
    <div *ngIf="isLoading" class="gallery gallery--loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>