<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container hasBackdrop autosize>
    <mat-drawer *ngIf="isLoggedIn | async" #drawer class="example-sidenav" mode="side" [opened]="opened">
        <ul class="menu">
            <li (click)="showDashboard()" class="menu__item">
                <mat-icon>home</mat-icon>
                <span class="menu__text">Home</span>

            </li>

            <li (click)="showSalesPage()" *ngIf=" (isAdmin | async) " class="menu__item">
                <mat-icon>trending_up</mat-icon>
                <span class="menu__text">Ventas</span>
            </li>

            <li (click)="showSignup()" *ngIf=" (isAdmin | async) " class="menu__item">
                <mat-icon>person_add</mat-icon>
                <span class="menu__text">Usuarios</span>
            </li>



            <li (click)="logout()" class="menu__item">
                <mat-icon>power_settings_new</mat-icon>
                <span class="menu__text">Logout</span>
            </li>
        </ul>
    </mat-drawer>


    <mat-toolbar *ngIf="isLoggedIn | async" class="header">
        <button (click)="opened =!opened" mat-icon-button>
            <mat-icon style="color:#fff;">menu</mat-icon>
        </button>
        <div>
            <p class="title__text">Clever Shop</p>
        </div>
        <!-- <mat-icon class="example-icon">favorite</mat-icon> -->
    </mat-toolbar>
    <router-outlet></router-outlet>

</mat-drawer-container>