<header class="cart__header">
    <ul class="cart__header__list">
        <li class="cart__header__list__item">
            <mat-icon class="light-gray">supervised_user_circle</mat-icon>
            <span class="cart__header__list__item__text">{{firstName|async}}</span>
        </li>
        <li class="cart__header__list__item">
            <mat-icon class="light-gray">notification_important</mat-icon>
            <span class="cart__header__list__item__text"> Thanks for shopping with us!</span>
        </li>
    </ul>
</header>